#screen {
  font-family: sans-serif;
  width: 99vw;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: -2px -2px 2px 0.5 px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

#header {
  font-size: 15px;
  display: flex;
  justify-content: start;
  padding: 0px;
  border-radius: 10px;
  background-color: rgba(66, 176, 219, 0.7);
  height: 70px;
}

#container {
  height: 86%;
  display: flex;
  justify-content: flex-start;
}

fieldset {
  width: 150px;
  border: 2px groove rgba(0, 0, 0, 0.1);
  margin: 5px 20px 0px 10px;
  height: 97.5%;
}

#todoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.box {
  width: 250px;
  height: auto;
  margin: 20px 20px 0px 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  padding: 14px 0;
  text-align: center;
  background-color: rgba(66, 176, 219, 0.6);
}

.content {
  padding: 10px 10px 5px;
}

.button {
  margin: 3px 0px 15px 5px;
  border-radius: 7px;
  font-size: 15px;
}

#textArea {
  margin-left: 15px;
  margin-top: 4px;
  height: 15px;
  width: 150px;
}
